html {
   font-size:  100%}
body {
   box-sizing: border-box;
   background-color: #ffffff;
   background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%23056dea' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E"); }
body{
  font-family: 'Quattrocento', serif;
   font-weight: 700;
   line-height: 1.7;
   padding: 3rem;
    }

.box{
	margin-left: auto;
	margin-right: auto;
}
.header{
	height:95vh;
	background-image: 
	url("https://images.pexels.com/photos/5258/addiction-bet-betting-casino.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}

.call{
	margin-bottom: 50px;
	margin-top: 25px; 
	border: 2px dotted LightBlue; 
}

.post{
 	margin-top: 25px;
	margin-bottom:25px;
}

.put{
	margin-top: 25px;
	margin-bottom:25px;
}
.delete{
	margin-top: 25px;
}
.about{
	margin-top: 50px;
}
